<app-sidenav></app-sidenav>
<app-friend-list *ngIf="!atLeftMargin"></app-friend-list>
<div class="post-container" #containerRef>
    <div *ngIf="!uploadOpen" class="post-box-unexpanded">
        <p>Amaze the world with a new photo!</p>
        <button nz-button nzType="primary" (click)="uploadPressed()">Upload</button>
    </div>
    <div *ngIf="uploadOpen">
        <app-upload></app-upload>
    </div>
    <div *ngFor="let post of loadedImages">
        <app-post [base64data]="post.base64Data"></app-post>
    </div>
    <div *ngIf="canLoadMore" class="loading-wheel"></div>
    <p *ngIf="!canLoadMore" class="seen-all-message">You've seen it All (✓)</p>
</div>
