.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    background-color: #000;
    border-style: solid;
    border-color: #363636;
    border-width: 1px;
    color: white;
    hr{
        width: 180px;
        color: #363636;
    }
  }

  .logo{
    width: 80px;
    margin-right: 20px;
  }

  .logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-top: 20px;
    font-family: cursive;
    margin-bottom: 20px;
  }

  .button-container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .nav-button{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: #000;
    border: #000;
    text-align: center;
    padding: 10px;
    margin: 2px;
    padding: 20px;
    p{
        margin-top: 15px;
        margin-left: 20px;
    }
  }
  
  .nav-button > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }  

  .nav-button:hover{
    background-color:#101010;
  }

  .icon{
    width: 25px;
  }

.post-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-wheel {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 5px solid #ccc;
    border-top-color: #333;
    animation: spin 1s ease-in-out infinite;
    margin-top: 20px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }