.post-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-wheel {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 5px solid #ccc;
    border-top-color: #333;
    animation: spin 1s ease-in-out infinite;
    margin-top: 20px;
  }

.shifted-right-wheel{
  margin-left: 240px
}

.shifted-right-text{
  margin-left: 105px
}
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .post-box-unexpanded{
    height: 100px;
    width: 500px;
    border-style: solid;
    border-color: #363636;
    background-color: #000;
    border-width: 1px;
    text-align: center;
    font-family: cursive;
    font-size: 15px;
    color: white;
    line-height: 15px;
    padding: 15px;
    margin-top: 5px;
  }

  .seen-all-message{
    color: #1890ff;
    font-family: cursive;
    font-size: 30px;
    margin-top: 50px;
  }