.post-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-wheel {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 5px solid #ccc;
    border-top-color: #333;
    animation: spin 1s ease-in-out infinite;
    margin-top: 20px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }