<div class="card">
    <div class="head">
        <div class="profile">
            <img class="profile-photo" src="https://cdn.britannica.com/18/114418-004-2A12F087/Flag-Kosovo.jpg" alt="Profile Photo">
            <p class="username">Post Master</p>
            <button class="follow-button" nz-button nzType="primary" style="padding: 2px; z-index: 1;">Follow</button>
        </div>
    </div>
    <hr>
    <div class="content">
        <div class="loading-container">
            <div class="loading-wave"></div>
            <div class="loading-wave"></div>
            <div class="loading-wave"></div>
        </div>
    </div>
    <hr>
    <div class="base">

    </div>
</div>