.card{
    color: #fff;
    width: 500px;
    margin: 5px;
    min-height: 600px;
    background-color: #000;
    border-style: solid;
    border-color: #363636;
    border-width: 1px;
    .head{
        height: 50px;
        width: auto;
        padding: 6px 10px;
        line-height: 10px;
        button{
            height: 20px;
            width: 50px;
            font-size: 10px;
        }
    }
    .content{
        height:auto;
        width: auto;
        border-style: solid;
        border-color: #363636;
        border-width: 1px;
        margin-top: 7px;
    }
    .base{
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    }
}

.profile {
    overflow: hidden;
}
  
  .profile-photo {
    display: block;
    float: left;
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 10px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: black;
  }
  
  .loading-wave {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px;
    animation: loading 1s ease-in-out infinite;
  }
  
  .loading-wave:nth-child(1) {
    background-color: #cccccc;
    animation-delay: -0.32s;
  }
  
  .loading-wave:nth-child(2) {
    background-color: #cccccc;
    animation-delay: -0.16s;
  }
  
  .loading-wave:nth-child(3) {
    background-color: #cccccc;
    animation-delay: 0s;
  }
  
  @keyframes loading {
    0% {
      transform: scale(0);
      opacity: 0.3;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0.3;
    }
  }
  
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
  }
  
  .right {
    height: 100%;
    width: 50px;
    margin-left: auto;
  }

  .interaction-button{
    height: 50px;
    width : 50px;
    background-color: #000;
    border-color: #000;
    padding: 10px;
  }

  .interaction-button:hover{
    background-color: #121212;
  }

  .icon{
    height: 100%;
    width: 100%;
  }