.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.login-card{
    height: fit-content;
    width: 350px;
    margin-top: 80px;
    background-color: #000;
    color: white;
    border-style: solid;
    border-color: #363636;
    border-width: 1px;
    border-radius: 10px;
}

.login-button{
    width: 150px;
    margin-bottom: 10px;
}

.unitbv-logo{
    height: 150px;
    margin-top: 30px;
}

.error-text{
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.input-field-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-field{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
}
.checkbox-field{
    margin-bottom: 5px;
    width: 300px;

    label {
        width: 100%;
        color: white;
    }
}