<div class="upload-widget">
    <div class="drop-area" #frameRef>
        <div *ngIf="droppedImage == null">
            <div (drop)="onFileDropped($event)" (dragover)="dragEnter($event)" (dragleave)="dragLeave()" class="active-drop-area">
                <p>{{message}}</p>
            </div>
        </div>
        <img class="preview-img" *ngIf="droppedImage != null" [src] = "droppedImage">
    </div>    
    <input class="description" nz-input placeholder="Basic usage" [(ngModel)]="description" />
    <button class="upload-button" nz-button nzType="primary">Submit</button>
    <button class="cancel-button" nz-button nzType="primary">Cancel</button>
</div>
