<nz-table #basicTable [nzData]="images">
    <thead>
      <tr class="header-container">
        <th>Photo Preview</th>
        <th>Photo Description</th>
        <th>Time of upload</th>
        <th>Likes</th>
        <th>Downloads</th>
        <th>Edit Details</th>
        <th>Set as profile</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td><img [src]="data.base64Data" style="height: 50px;"></td>
        <td><p [textContent]="data.description"></p></td>
        <td [textContent]="data.dateCreated"></td>
        <td [textContent]="data.likes"></td>
        <td [textContent]="data.downloads"></td>
        <td>
            <button nz-button nzType="primary">Edit</button>
        </td>
        <td>
            <button nz-button nzType="primary" (click)="setProfilePicture(i)">Set</button>
        </td>
      </tr>
    </tbody>
  </nz-table>