<nz-table #basicTable [nzPageSize]="5" [nzData]="images">
    <thead>
      <tr class="header-container">
        <th>Photo Preview</th>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
          {{ column.title }}
        </th>
        <th>Edit Details</th>
        <th>Set as profile</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td><img [src]="data.base64Data" style="height: 50px;"></td>
        <td><p [textContent]="data.description"></p></td>
        <td [textContent]="data.dateCreated"></td>
        <td [textContent]="data.likes"></td>
        <td [textContent]="data.downloads"></td>
        <td>
            <button (click)="showEdit(i)" nz-button nzType="primary">Edit</button>
        </td>
        <td>
            <button nz-button nzType="primary" (click)="setProfilePicture(i)">Set</button>
        </td>
        <td>
          <button style="background-color: rgb(193, 52, 52);" nz-button nzType="primary" (click)="deletePhoto(i)">Delete</button>
      </td>
      </tr>
    </tbody>
  </nz-table>
<nz-modal [(nzVisible)]="modalVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzWrapClassName]="'custom-modal'">
    <div class="modal">
        <ng-container *nzModalContent>
          <p>Edit post</p>
          <div class="vertical-input">
            <input nz-input [(ngModel)]="photoData" placeholder="Change post image URL">
            <textarea nz-input [(ngModel)]="photoDescription" placeholder="Change post description"></textarea>
          </div>
        </ng-container>
    </div>
</nz-modal>
<div class="sort-by">
  <input style="margin: 5px;" nz-input placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="search()"/>
</div>