.all-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 220px;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-family: cursive;
    z-index: 2;
    hr{
        color: #363636;
        margin: 20px;
        margin-top: 10px;
    }
    border-style: solid;
    border-color: #363636;
    border-width: 1px;
}

.follow-container {
    width: 100%;
    height: 50px;
    background-color: black;
    border-style: solid;
    border-color: #363636;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .username {
    margin-left: 10px;
    color: white;
    margin-right: 15px;
  }